body {
    
    background-color: rgb(120, 162, 199);
    font-family: Arial, Helvetica, sans-serif;
    margin: 150px;px;
    }
}
h1 {font: 1em   Arial; font-weight: 600;font-size: 45px; color: rgb(22, 14, 14);}
h3 {font-family: Arial, Helvetica, sans-serif;
color: red;}